<!-- views/layouts/main.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/_head") %>
  </head>
  <body>
    <header class="site-header">
      <div class="container site-header-inner">
        <%- include("../partials/_header") %>
      </div>
    </header>

    <main style="padding-top: var(--header-height);">
      <div class="container">
        <%- include("../partials/_flash") %>
      </div>
      <%- body %>
    </main>

    <%- include("../partials/_footer") %>

    <script src="/js/main.js" defer></script>
  </body>
</html>
