<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/_head") %>
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <%- include("../partials/_header") %>
      </div>
    </header>

    <main>
      <div class="container">
        <%- include("../partials/_flash") %>
        <%- body %>
      </div>
    </main>

    <footer class="site-footer">
      <div class="container">
        <%- include("../partials/_footer") %>
      </div>
    </footer>
  </body>
</html>
